html {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;

}
.image_text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story_text_heading {
  font-family: Georgia;
  font-size: 30px;
  color: black;
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.header_container p{
  margin-left: 20px;
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


#navbar li{
  display: inline;
}

#navbar a{
  color: black;
  font-size: 14px;
  letter-spacing: 2px;
  padding-right: 15px;
}
/**** end of heading ****/

.container{
  display: flex;
/*  width: 100%;*/
/*  height:100%; */

  border: 1px solid black;
  align-items: stretch; /** ISSUE maybe keep this or not **/
  justify-content: space-around;
}

#column1{
    height: 100%;
    width: 630px;
    /*border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#column1_heading {
  color:white;
  background-image: url("../images/winebackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin: 20px 5px;
  padding-left: 15px;
  justify-content: space-around;
  align-items: center;
}



#column1_item1 {
  display: flex;
  /*border: 1px solid black;*/
}

#column1_split{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
#column1_orca {
  display: flex;
  /* border: 1px solid black;*/
  flex-direction: column;
  height: 300px;
  margin: 5px 5px;
}
#column1_breakfast {
  display: flex;
  flex-direction: column;
  /*border: 1px solid black;*/
  height: 300px;
}
#column1_earthspin {
  display: flex;
  /*border: 1px solid black;*/
  margin-right:5px;
  background-image: url("../images/girltree.png");
  height: 300px;
  width: 300px;
  display: flex;
  text-align: center;
  /*justify-content:center;
  align-items: center;*/
}

#column1_camera {
  display: flex;
  /*border: 1px solid red;*/
  background-image: url("../images/cameraman.png");
  height: 300px;
  width: 300px;
  display: flex;
  text-align: center;
  /*justify-content: center;
  align-items: center;*/
}

#column1_item5 h2{
  justify-content: center;
  color: white;
}

#column2{
    height: 100%;
    width: 240px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}

#column2_fbi {
  /*display: flex;*/
  /*border: 1px solid black;*/
}
#column2_brooklyn {
  /*border: 1px solid black;*/

}
#column2_washington {
  /*border: 1px solid black;*/

}
#column2_cats {
  /*border: 1px solid black;*/
  background-image: url("../images/cat.png");
  height: 300px;
  width: 220px;
  color: white;
  text-align: center;
}
#column3{
    height: 100%;
    width: 240px;

    display: flex;
    flex-direction: column;
}

#column3_cookiephoto {

}

#column3_cookiephoto img{
  width: 200px;
}
#column3_newsbites {
  /*border: 1px solid black;*/
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#column3_newsbiteslist ul {
  flex-basis: 240px;
  /*border-bottom: 1px solid black;*/
  background-color: WhiteSmoke;
  font-family: Verdana;
  color: DimGray;
  list-style-type: none;
  margin-top: 5px;
  padding-top: 5px;
  margin-left: 0;
  padding: 0;
}

#column3_newsbiteslist li {

  list-style: none;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  word-spacing: 2px;
  margin-top: 5px;
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  flex-basis: 240px;
}

.bottomfooter {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  padding: 40px 40px;
  font-family: Verdana;
  font-size: 12px;
  border: 1px solid black;
}
.bottomtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_text {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.bottomfooter li {
  display: inline;
}

.bottomfooter a{
  color: black;
  font-size: 16px;
  padding-right: 15px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
